* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-color: black;
  color: white;
  font-family: 'Red Rose', cursive; }
  body h1 {
    font-weight: 700; }
  body h2 {
    font-size: 1.8rem;
    font-weight: 700; }
  body p {
    font-weight: 400; }
  body ul {
    list-style-type: none; }
    body ul li {
      padding: 0.4rem; }
      body ul li a {
        color: yellow;
        font-size: 0.8rem; }

.navbar-toggler {
  background-color: whitesmoke;
  border: 1px solid whitesmoke; }

.footer__general {
  background-color: yellow;
  color: black;
  font-size: 1rem;
  padding: 0.8rem; }
  .footer__general .footer__general--bsastrap {
    font-size: 2.5rem; }

.redes {
  width: 3.5rem;
  padding: 0.6rem; }

a {
  color: yellow; }

.navbar-nav {
  text-align: right; }

.navegador .navegador:hover {
  list-style: none;
  color: #d2558a; }

nav {
  display: flex; }
  nav div {
    justify-content: end; }

.card-text {
  color: black; }

.yout {
  display: inline-block; }
  .yout .yout__video {
    margin-top: 20px;
    text-align: center; }

.spotify {
  display: inline-block; }
  .spotify .spotify__general {
    text-align: center; }

.bg-info {
  background-color: #d2558a !important; }

.btn-info {
  background-color: #d2558a;
  border-color: #d2558a; }

#logo {
  animation-name: opacidad;
  animation-duration: 2s; }

@keyframes opacidad {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@media (max-width: 575.98px) {
  body {
    font-size: 1rem; }
    body h2 {
      font-size: 1.7rem; }
    body p {
      font-size: 1rem; }
  .footer__general {
    display: flex; }
    .footer__general div {
      justify-content: center !important; }
    .footer__general .footer__general--bsastrap {
      font-size: 1.5rem; }
  .redes {
    width: 2.5rem; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .body__header .body__header__nav .body__header__nav--links a {
    font-size: 1rem; }
  body {
    font-size: 1.2rem; }
    body h2 {
      font-size: 2rem; }
    body p {
      font-size: 1.2rem; }
  .footer__general {
    display: flex; }
    .footer__general div {
      justify-content: center !important; }
    .footer__general .footer__general--bsastrap {
      font-size: 1.5rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 1rem; }
    body h2 {
      font-size: 2rem; }
    body p {
      font-size: 1rem; }
  .footer__general .footer__general--bsastrap {
    font-size: 1.5rem; } }
