*{
    margin: 0;
    padding: 0; 
    box-sizing:0;
}

html{
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: 'Red Rose', cursive;
    h1{
        font-weight: 700;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 700;
    }
    p{
        font-weight: 400;
    }
    ul{
        list-style-type: none;
        li{
            padding: 0.4rem;
            a{
                color: yellow;
                font-size: 0.8rem;
            }
        }
    }
}

.navbar-toggler{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.footer__general{
    background-color: yellow;
    color: black;
    font-size: 1rem;
    padding: 0.8rem;
    .footer__general--bsastrap{
        font-size: 2.5rem;
    }
}

.redes{
    width: 3.5rem;
    padding: 0.6rem;
}

a{
    color: yellow;
    list-style: none;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: white;
}

.navbar-nav{
    text-align: right;
}

.navegador{
    list-style: none;
    .navegador:hover{
        list-style: none;
        color: yellow;
    }
}

.yellowLet{
    color: yellow;
}

nav{
    display: flex;
    div{
        justify-content: end;
    }
}

.card-text{
    color: black;
}

.yout{
    display: inline-block;
    .yout__video{
        margin-top: 20px;
        text-align: center;
    }
}

.spotify{
    display: inline-block;
    .spotify__general{
        text-align: center;
        .spotify__general--uno{
            padding: 10px;
        }
        .spotify__general--dos{
            padding: 10px;
        }
        .spotify__general--tres{
            padding: 10px;
        }
    }
}

.bg-info{
	background-color: rgb(255, 230, 0)!important;
}

.btn-info{
	background-color: rgb(255, 230, 0);
	border-color: rgb(255, 230, 0);
}

#logo{
	animation-name: opacidad;
	animation-duration: 2s;
}

.title__form--formulario{
    min-height: 100vh;
}

.main--galeria{
    min-height: 100vh;
}

.youtube_vid{
    height: 400px;
    width: 700px;
}

@keyframes opacidad{
	0% {opacity: 0%}
	100% {opacity: 100%}
}

.bglineup{
    background-color: whitesmoke;
    color: black;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        font-size: 1rem;
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.7rem;
        }
        h3{
            font-size: 1.4rem;
        }
        p{
            font-size: 1rem;
        }
    }
    
    .footer__general{
        display: flex;
        div{
            justify-content: center!important;
        }
        .footer__general--bsastrap{
            font-size: 1.5rem;
        }
    }

    .redes{
        width: 2.5rem;
    }

    .title__form{
        font-size: 1.6rem;
        margin: 10px;
    }

    .youtube_vid{
        width: 300px;
        height: 190px;
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    .body__header{
        .body__header__nav{
            .body__header__nav--links{
                a{
                    font-size: 1rem;
                }
            }
        }
    }

    body{
        font-size: 1.2rem;
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .footer__general{
        display: flex;
        div{
            justify-content: center!important;
        }
        .footer__general--bsastrap{
            font-size: 1.5rem;
        }
    }

    .youtube_vid{
        width: 550px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        font-size: 1rem;
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .footer__general{
        .footer__general--bsastrap{
            font-size: 1.5rem;
        }
    }

    .youtube_vid{
        height: 400px;
        width: 700px;
    }
}
